<%- include("partials/header");  -%> 

<h1> Home </h1>
<p><%= content %></p>

<!-- <% for( let index = 0; index < posts.length; index++ ) { %>   
    <h1><%= posts[index].title %></h1>
    <p><%= posts[index].post %> </p>
<% } %> -->

<% posts.slice().reverse().forEach(function(post) { %>
    <h1><%= post.title %></h1>
    <p><%= post.post %> </p>
<% }) %>

<%- include("partials/footer");  -%> 